<div class="max-w-[1342px] mx-auto px-4">
    <app-breadcrumb [data]="breadcrumbs"></app-breadcrumb>
</div>

<!-- ===== MOBILE (≤640px) ===== -->
<section id="contact-us" class="block sm:hidden w-full px-4 mb-5">
    <div
        class="relative isolate mx-auto w-full pt-10 max-w-[480px] rounded-[20px] border border-[#CFE0F3] bg-white shadow-md overflow-hidden">

        <!-- CONTENT (above decor) -->
        <div class="relative z-10 px-5 pb-38 text-center flex flex-col items-center justify-center">
            <h2 class="text-[24px] md:text-[36px] font-bold text-[#043458] max-w-[580px] mx-auto">
                {{partnersSection?.section_title}}

            </h2>
            <p
                class="mx-auto mt-4 max-w-[532px] font-normal text-[16px] leading-[100%] tracking-[0%] text-center text-[#545F71]">
                {{partnersSection?.section_description}}
            </p>

        </div>

        <!-- DECOR (MOBILE) sits behind content -->
        <div class="pointer-events-none absolute inset-0 z-0">
            <!-- backgrounds -->
            <img src="app/assets/images/contact-us/right-bg.svg" alt=""
                class="absolute left-[-40%] bottom-0 h-full w-auto opacity-90">
            <img src="app/assets/images/contact-us/left-bg.svg" alt=""
                class="absolute right-[-40%] bottom-0 h-full w-auto opacity-90">

            <!-- left decor -->
            <img src="app/assets/images/contact-us/left-green.svg" alt=""
                class="absolute left-0 bottom-0 w-[80px] z-10">
            <img src="app/assets/images/contact-us/left-croped-star.svg" alt=""
                class="absolute left-0 bottom-0 w-[90px] star-pulse z-10">
            <img src="app/assets/images/contact-us/blue-star.svg" alt=""
                class="absolute left-[80px] bottom-[80px] w-[26px] star-pulse z-10" style="animation-delay:.15s">

            <!-- left avatars (above decor within same layer) -->
            <img src="app/assets/images/contact-us/left-middle-boy.png" alt=""
                class="absolute left-[20px] bottom-[40px] w-[60px] h-[60px] rounded-full object-cover float-1 z-20">
            <img src="app/assets/images/contact-us/left-bottom-boy.png" alt=""
                class="absolute left-[90px] bottom-[10px] w-[40px] h-[40px] float-2 z-20">
            <img src="app/assets/images/contact-us/left-top-blue-boy.png" alt=""
                class="pointer-events-none select-none absolute left-[8%] bottom-[130px] h-[50px] w-[50px] float-6 z-20">

            <!-- right decor (fixed scales) -->
            <img src="app/assets/images/contact-us/right-blue.svg" alt=""
                class="absolute right-0 bottom-0 scale-[0.45] origin-bottom-right z-10">
            <img src="app/assets/images/contact-us/right-green.svg" alt=""
                class="absolute right-0 bottom-0 scale-[0.35] origin-bottom-right z-10">
            <img src="app/assets/images/contact-us/right-orang.svg" alt=""
                class="absolute right-0 bottom-0 scale-[0.35] origin-bottom-right z-10">

            <!-- right avatars ABOVE decor -->
            <img src="app/assets/images/contact-us/right-top-girl.png" alt=""
                class="absolute right-[10px] bottom-[120px] w-[55px] h-[55px] float-3 z-20">
            <img src="app/assets/images/contact-us/right-middle-girl.png" alt=""
                class="absolute right-[35px] bottom-[50px] w-[40px] h-[40px] float-4 z-20">
            <img src="app/assets/images/contact-us/right-bottom-boy.png" alt=""
                class="absolute right-[70px] bottom-[2px] w-[50px] h-[50px] float-5 z-20">

            <!-- right stars -->
            <img src="app/assets/images/contact-us/blue-star.svg" alt=""
                class="absolute right-[8px] bottom-[18px] w-[35px] star-pulse z-10" style="animation-delay:.2s">
        </div>
    </div>
</section>


<!-- ===== TABLET (641px–1023px) ===== -->
<section id="contact-us" id="contact-us" class="hidden sm:block lg:hidden w-full px-4 mb-5">
    <div
        class="relative mx-auto w-full max-w-[900px] pt-10 rounded-[28px] border border-[#CFE0F3] bg-white shadow overflow-hidden">
        <!-- CONTENT -->
        <div class="relative z-[1] px-5 pt-10 pb-28 text-center flex flex-col items-center justify-center">
            <h2 class="text-[32px] max-w-[532px] font-bold text-[#043458]">
                {{partnersSection?.section_title}} </h2>

            <p class="mx-auto mt-4 max-w-[532px] font-normal text-[22px] leading-7 text-[#545F71]">
                {{partnersSection?.section_description}}
            </p>

        </div>

        <!-- DECOR (TABLET) -->
        <div class="pointer-events-none absolute inset-x-0 bottom-0 h-full">
            <!-- backgrounds -->
            <img src="app/assets/images/contact-us/right-bg.svg" alt=""
                class="absolute left-[-35%] bottom-0 h-full w-auto opacity-90">
            <img src="app/assets/images/contact-us/left-bg.svg" alt=""
                class="absolute right-[-35%] bottom-0 h-full w-auto opacity-90">

            <!-- left decor -->
            <img src="app/assets/images/contact-us/left-green.svg" alt="" class="absolute left-0 bottom-0 w-[108px]">
            <img src="app/assets/images/contact-us/left-croped-star.svg" alt=""
                class="absolute left-0 bottom-0 w-[120px] star-pulse">
            <img src="app/assets/images/contact-us/blue-star.svg" alt=""
                class="absolute left-[130px] bottom-[60px] w-[32px] star-pulse" style="animation-delay:.15s">
            <img src="app/assets/images/contact-us/blue-star.svg" alt=""
                class="absolute left-[40px] bottom-[140px] w-[32px] star-pulse" style="animation-delay:.15s">

            <!-- left avatars -->
            <img src="app/assets/images/contact-us/left-middle-boy.png" alt=""
                class="absolute left-[35px]  bottom-[35px] w-[80px] h-[80px] rounded-full object-cover float-1">
            <img src="app/assets/images/contact-us/left-bottom-boy.png" alt=""
                class="absolute left-[170px] bottom-[5px] w-[58px]  h-[58px]  float-2">
            <img src="app/assets/images/contact-us/left-top-blue-boy.png" alt=""
                class="pointer-events-none select-none absolute left-[14%] bottom-[150px] h-[65px] w-[65px] float-6">

            <!-- right decor -->
            <img src="app/assets/images/contact-us/right-blue.svg" alt=""
                class="absolute right-0 bottom-0 scale-50 origin-bottom-right">
            <img src="app/assets/images/contact-us/right-green.svg" alt=""
                class="absolute right-0 bottom-0 scale-50 origin-bottom-right">
            <img src="app/assets/images/contact-us/right-orang.svg" alt=""
                class="absolute right-0 bottom-0 scale-45 origin-bottom-right">
            <img src="app/assets/images/contact-us/blue-star.svg" alt="" aria-hidden="true"
                class="absolute right-[8px] bottom-0 w-[52px] star-pulse" style="animation-delay:.2s">
            <img src="app/assets/images/contact-us/blue-star.svg" alt="" aria-hidden="true"
                class="absolute right-[130px] bottom-[100px] w-[26px] star-pulse" style="animation-delay:.2s">

            <!-- right avatars -->
            <img src="app/assets/images/contact-us/right-top-girl.png" alt=""
                class="absolute right-[74px] bottom-[140px] w-[70px] h-[70px] float-3">
            <img src="app/assets/images/contact-us/right-middle-girl.png" alt=""
                class="absolute right-[80px] bottom-[40px] w-[60px] h-[60px] float-4">
            <img src="app/assets/images/contact-us/right-bottom-boy.png" alt=""
                class="absolute right-[150px] bottom-[2px]  w-[75px] h-[75px] float-5">
        </div>
    </div>
</section>


<!-- ===== LAPTOP (1024px–1439px) ===== -->
<section id="contact-us" class="hidden lg:block xl:hidden w-full px-4 mb-5">
    <div
        class="relative mx-auto w-full max-w-[900px] rounded-[28px] border border-[#CFE0F3] bg-white shadow overflow-hidden">
        <!-- CONTENT -->
        <div class="relative z-[1] px-5 pt-10 pb-28 text-center flex flex-col items-center justify-center">
            <h2 class="text-[24px] md:text-[36px] font-bold text-[#043458] max-w-[532px] mx-auto">
                {{partnersSection?.section_title}} </h2>

            <p class="mx-auto mt-4 max-w-[532px] font-normal text-[16px] md:text-[24px] leading-7 text-[#545F71]">
                {{partnersSection?.section_description}}
            </p>


        </div>

        <!-- DECOR (LAPTOP) -->
        <div class="pointer-events-none absolute inset-x-0 bottom-0 h-full">
            <!-- backgrounds -->
            <img src="app/assets/images/contact-us/right-bg.svg" alt=""
                class="absolute left-0 bottom-0 h-full w-auto opacity-90">
            <img src="app/assets/images/contact-us/left-bg.svg" alt=""
                class="absolute right-0 bottom-0 h-full w-auto opacity-90">

            <!-- left decor -->
            <img src="app/assets/images/contact-us/left-green.svg" alt="" class="absolute left-0 bottom-0 w-[130px]">
            <img src="app/assets/images/contact-us/left-croped-star.svg" alt=""
                class="absolute left-0 bottom-0 w-[140px] star-pulse">
            <img src="app/assets/images/contact-us/blue-star.svg" alt=""
                class="absolute left-[120px] bottom-[60px] w-[46px] star-pulse" style="animation-delay:.15s">

            <!-- left avatars -->
            <img src="app/assets/images/contact-us/left-middle-boy.png" alt=""
                class="absolute left-[60px]  bottom-[100px] w-[90px] h-[90px] rounded-full object-cover float-1">
            <img src="app/assets/images/contact-us/left-bottom-boy.png" alt=""
                class="absolute left-[190px] bottom-[10px] w-[70px]  h-[70px]  float-2">
            <img src="app/assets/images/contact-us/left-top-blue-boy.png" alt=""
                class="pointer-events-none select-none absolute left-[12%] bottom-[200px] h-[75px] w-[75px] float-6">

            <!-- right decor -->
            <img src="app/assets/images/contact-us/right-blue.svg" alt=""
                class="absolute right-0 bottom-0 scale-[55%]  origin-bottom-right">
            <img src="app/assets/images/contact-us/right-green.svg" alt=""
                class="absolute right-0 bottom-0 scale-[55%]  origin-bottom-right">
            <img src="app/assets/images/contact-us/right-orang.svg" alt=""
                class="absolute right-0 bottom-0 scale-[55%]  origin-bottom-right">
            <img src="app/assets/images/contact-us/blue-star.svg" alt="" aria-hidden="true"
                class="absolute right-[28px] bottom-[18px] w-[72px] star-pulse" style="animation-delay:.2s">


            <!-- right avatars -->
            <img src="app/assets/images/contact-us/right-top-girl.png" alt=""
                class="absolute right-[30px] bottom-[170px] w-[85px] h-[85px] float-3">
            <img src="app/assets/images/contact-us/right-middle-girl.png" alt=""
                class="absolute right-[100px] bottom-[70px] w-[60px] h-[60px] float-4">
            <img src="app/assets/images/contact-us/right-bottom-boy.png" alt=""
                class="absolute right-[180px] bottom-[2px]  w-[85px] h-[85px] float-5">
        </div>
    </div>
</section>


<!-- ===== DESKTOP (≥1440px) ===== -->
<section id="contact-us" class="hidden xl:block mb-5 w-full pt-10 ">
    <div
        class="relative mx-auto w-[1342px] h-[442px] rounded-[28px] border border-[#CFE0F3] bg-white shadow-[0_10px_30px_rgba(11,47,79,0.08)] overflow-hidden">
        <!-- Backgrounds -->
        <img src="app/assets/images/contact-us/right-bg.svg" alt=""
            class="absolute left-0 top-0 h-full w-auto pointer-events-none select-none z-0">
        <img src="app/assets/images/contact-us/left-bg.svg" alt=""
            class="absolute right-0 top-0 h-full w-auto pointer-events-none select-none z-0">

        <!-- CONTENT -->
        <div class="relative h-full pt-7 w-full text-center flex flex-col items-center justify-center">
            <h2 class="text-[24px]  md:text-[36px] max-w-[580px] font-bold text-[#043458]">
                {{partnersSection?.section_title}} </h2>

            <p class="mx-auto mt-4 max-w-[580px] font-normal text-[16px] md:text-[24px] leading-7 text-[#545F71]">
                {{partnersSection?.section_description}}
            </p>

        </div>

        <!-- LEFT DECOR -->
        <img src="app/assets/images/contact-us/left-green.svg" alt=""
            class="pointer-events-none select-none absolute left-[-8%] bottom-0 h-[440px] w-[520px]">
        <img src="app/assets/images/contact-us/left-top-blue-boy.png" alt=""
            class="pointer-events-none select-none absolute left-[17%] top-[4%] h-[130px] w-[130px] float-6">
        <img src="app/assets/images/contact-us/left-croped-star.svg" alt=""
            class="pointer-events-none select-none absolute left-0 bottom-0 w-[280px] star-pulse">
        <img src="app/assets/images/contact-us/blue-star.svg" alt=""
            class="pointer-events-none select-none absolute left-[275px] bottom-[120px] w-[75px] star-pulse"
            style="animation-delay:.3s">
        <img src="app/assets/images/contact-us/blue-star.svg" alt=""
            class="pointer-events-none select-none absolute left-[120px] bottom-[280px] w-[70px] star-pulse"
            style="animation-delay:.1s">

        <!-- RIGHT DECOR -->
        <img src="app/assets/images/contact-us/right-blue.svg" alt=""
            class="pointer-events-none select-none absolute right-0 bottom-0">
        <img src="app/assets/images/contact-us/right-green.svg" alt=""
            class="pointer-events-none select-none absolute right-0 bottom-0">
        <img src="app/assets/images/contact-us/right-orang.svg" alt=""
            class="pointer-events-none select-none absolute right-0 bottom-0">
        <img src="app/assets/images/contact-us/blue-star.svg" alt=""
            class="pointer-events-none select-none absolute right-[250px] bottom-[170px] w-[54px] star-pulse"
            style="animation-delay:.2s">
        <img src="app/assets/images/contact-us/blue-star.svg" alt=""
            class="pointer-events-none select-none absolute right-[16px]  bottom-[20px]  w-[110px] star-pulse"
            style="animation-delay:.15s">

        <!-- right avatars -->
        <img src="app/assets/images/contact-us/right-top-girl.png" alt=""
            class="absolute right-[145px] top-[45px]  w-[125px] h-[125px] float-3">
        <img src="app/assets/images/contact-us/right-middle-girl.png" alt=""
            class="absolute right-[170px] bottom-[40px] w-[107px] h-[107px] float-4">
        <img src="app/assets/images/contact-us/right-bottom-boy.png" alt=""
            class="absolute right-[280px] bottom-0     w-[135px] h-[135px] float-5">

        <!-- left avatars -->
        <img src="app/assets/images/contact-us/left-middle-boy.png" alt=""
            class="absolute left-[95px]  bottom-[90px]  w-[170px] h-[170px] rounded-full object-cover float-1">
        <img src="app/assets/images/contact-us/left-bottom-boy.png" alt=""
            class="absolute left-[320px] bottom-[10px]  w-[100px] h-[100px] float-2">
    </div>
</section>


<!-- Cards Grid -->
<section class="w-full px-4 py-5">

    <div class="max-w-[1342px] mx-auto">

        <div *ngIf="!loadingPartners && partners.length"
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">

            <div *ngFor="let partner of partners" class="w-full 
               rounded-2xl border border-[#EEF3F8] bg-white p-6
               shadow-sm hover:shadow-md transition">

                <!-- Logo -->
                <div class="flex items-center justify-center h-[132px] w-full overflow-hidden mb-2">
                    <img [src]="partner.logo" [alt]="partner.name" class="max-h-[132px] max-w-[180px] object-contain" />
                </div>

                <!-- Name -->
                <h3 class="text-center text-[#043458] font-bold text-lg mb-1">
                    {{ partner.name }}
                </h3>

            </div>
        </div>

    </div>
</section>