<div class="min-h-screen flex flex-col py-5 items-center justify-start bg-[#F5F8FB] px-4">

    <!-- Title -->
    <h1 class="text-[#043458] text-3xl md:text-4xl font-bold mb-8">
        {{ 'resetPassword title' | translate }}
    </h1>

    <div class="w-full max-w-md bg-white p-8 rounded-2xl shadow-lg">

        <form [formGroup]="form" (ngSubmit)="onSendResetClick()" class="space-y-6">

            <!-- Email -->
            <div>
                <label class="block text-[#043458] font-medium text-[16px] md:text-[18px] mb-1">
                    {{ 'resetPassword emailLabel' | translate }}
                </label>

                <input formControlName="email" type="email" [placeholder]="'resetPassword emailPlaceholder' | translate"
                    class="w-full rounded-xl border border-[#D7DEE4] px-5 py-3 text-[14px] text-[#545F71] 
                 bg-[#F5F7FA] focus:bg-white" />

                <!-- Required Error -->
                <p *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')"
                    class="text-red-500 text-sm mt-2">
                    {{ 'Email is required.' | translate }}
                </p>

                <!-- Invalid Email -->
                <p *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')"
                    class="text-red-500 text-sm mt-2">
                    {{ 'resetPassword errorInvalid' | translate }}
                </p>

                <!-- Backend Error -->
                <p *ngIf="errorMessage" class="text-red-500 text-sm mt-2">
                    {{ errorMessage }}
                </p>
            </div>

            <!-- Submit Button -->
            <button type="submit" [disabled]="form.invalid || loading" class="w-full rounded-[14px] font-bold py-3 bg-[#0D3C63] text-white
               flex justify-center items-center gap-2
               disabled:bg-gray-400 disabled:text-gray-200 disabled:cursor-not-allowed">

                <img src="app/assets/images/shared/loader-white.gif" class="w-6" *ngIf="loading">

                {{
                loading
                ? ('resetPassword buttonSending' | translate)
                : ('resetPassword buttonSend' | translate)
                }}
            </button>

        </form>

    </div>
    <!-- Sign Up Under Card -->
    <p class="mt-6 text-[#545F71] text-sm text-center">
        {{ "Don't have an account in Nibras?" | translate }}
        <a [routerLink]="registerRoutes[storageService.siteLanguage$.value]"
            class="text-[#1396FD] font-semibold hover:underline ml-1">
            {{ 'Sign Up button' | translate }}
        </a>
    </p>
</div>