<section class="container mx-auto mb-25 px-4 max-w-[1335px]">
    <div
        class="relative rounded-3xl bg-white overflow-hidden border border-[#CFE0F3] shadow-[0_10px_30px_rgba(11,47,79,0.08)] ">

        <!-- Swiper container -->
        <div class="swiper " #swiperContainer>
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngIf="loading">
                    <div
                        class="hero-slide flex flex-col-reverse md:flex-row h-[543px] items-center justify-center lg:justify-between gap-10 px-5 md:px-12 py-8">
                        <!-- Text skeletons -->
                        <div class="flex-1 flex flex-col gap-4 ">
                            <ngx-skeleton-loader class="h-8 w-80"></ngx-skeleton-loader>
                            <ngx-skeleton-loader class="h-4 w-5/6"></ngx-skeleton-loader>
                            <ngx-skeleton-loader class="h-4 w-3/6"></ngx-skeleton-loader>
                            <ngx-skeleton-loader class="h-10 w-40 rounded-xl mt-4"></ngx-skeleton-loader>
                        </div>

                        <!-- Image skeleton -->
                        <ngx-skeleton-loader [theme]="{width: '300px', height: '300px'}"
                            class="rounded-xl mt-5"></ngx-skeleton-loader>
                    </div>
                </div>
                <ng-container *ngIf="!loading">
                    <div class="swiper-slide h-full w-full" *ngFor="let slide of homeSliders">
                        <div
                            class="hero-slide xl:ltr:ml-6 xl:rtl:mr-6 flex md:flex-row flex-col-reverse md:px-10 justify-between items-center gap-4 p-4 md:py-0 my-auto mb-10">
                            <div class="md:max-w-[58%] text-center md:text-start">
                                <h1 class="font-extrabold bg-gradient-to-r from-[#09528A] to-[#043458]
                                    bg-clip-text text-transparent leading-tight
                                    text-3xl xl:text-5xl lg:text-4xl">
                                    {{ slide.title }}
                                </h1>
                                <p class="mt-3 sm:mt-4 text-[#545F71] 
                                    text-sm lg:text-xl
                                    leading-7">
                                    {{ slide.description }}
                                </p>
                                @if(slide.is_login_btn == false){
                                <a href="{{ slide.button_link }}" class="inline-flex  mt-6 lg:mt-8 rounded-2xl
                                    bg-gradient-to-r from-[#09528A] to-[#043458] text-[#F2F2F7]
                                    px-5 py-2.5 sm:px-6 sm:py-3
                                    text-base lg:text-xl flex items-center justify-center
                                    hover:brightness-110">
                                    {{ slide.button_title }}
                                </a>
                                }
                                @else{
                                <button [routerLink]="loginRoutes[storageService.siteLanguage$.value]" type="button"
                                    class="inline-flex mt-6 lg:mt-8 rounded-2xl
                                    bg-gradient-to-r from-[#09528A] to-[#043458] text-[#F2F2F7]
                                    px-5 py-2.5 sm:px-6 sm:py-3
                                    text-base lg:text-xl flex items-center justify-center
                                    hover:brightness-110">
                                    {{ slide.button_title }}
                                </button>
                                }
                            </div>
                            <!-- Image -->
                            <div
                                class="relative  md:max-w-[38%] h-[270px] md:h-[350px] lg:h-[550px] xl:h-[600px] flex items-center justify-center md:py-15 lg:py-20">
                                <img [src]="slide.image" alt="{{ slide.title }}" loading="lazy"
                                    class="w-full h-full object-contain object-center" />
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- Controls -->
            <div class="hero-controls flex items-center justify-center gap-5 px-4 pb-6 absolute w-full bottom-0 ">
                <button type="button" #prevEl class="hero-prev swiper-button-prev !static !m-0 !p-0">
                    <img src="app/assets/images/home-slider/right-arrow.svg" alt="Prev"
                        class="w-4 h-4 sm:w-5 sm:h-5 {{ (storageService.siteLanguage$.value == 'ar') ? '' : 'rotate-180' }}" />
                </button>

                <div #paginationEl class="hero-pagination swiper-pagination"></div>

                <button type="button" #nextEl class="hero-next swiper-button-next !static !m-0 !p-0">
                    <img src="app/assets/images/home-slider/left-arrow.svg" alt="Next"
                        class="w-4 h-4 sm:w-5 sm:h-5 {{ (storageService.siteLanguage$.value == 'ar') ? '' : 'rotate-180' }}" />
                </button>
            </div>
        </div>
    </div>
</section>